[Unit]
Description=pgEdge Machine2Machine MQTT Client"
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable=/usr/local/bin/m2m

[Service]
WorkingDirectory=/usr/local/bin

User=pgedge
Group=pgedge
ProtectProc=invisible

EnvironmentFile=/etc/default/m2m
ExecStart=/usr/local/bin/m2m

# Let systemd restart this service always
Restart=always

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

# Specifies the maximum number of threads this process can create
TasksMax=infinity

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
