*.pyc
out/
devel/pg/src
devel/pg/1*
devel/pg/postgresml/

devel/repo/cleanREMOTE
devel/repo/local

devel/mqtt/hivemq/env.sh

src/packages/*.rpm
src/packages/*.deb

cli/scripts/conf
cli/scripts/pg1*
cli/scripts/data


.DS_STORE
__pycache__
