*.pyc
out/
devel/pg/src
devel/pg/1*
devel/pg/postgresml/

devel/incus
devel/upgrade-cli/pgedge
devel/upgrade-cli/bakup-pgedge

src/packages/*.rpm
src/packages/*.deb

cli/scripts/conf
cli/scripts/pg1*
cli/scripts/data


devel/docker/pgbin-build/config

.DS_STORE
__pycache__
