*.pyc
out/
devel/pg/src
devel/pg/1*
devel/pgedge
## devel/pg/postgrest

cli/scripts/conf
cli/scripts/pg1*
cli/scripts/data

## cli/scripts/etcd
## cli/scripts/staz
## cli/scripts/backrest
## cli/scripts/prompgexp
## cli/scripts/postgrest


.DS_STORE
__pycache__
