
## Core CLI #########
requests==2.32.2
paramiko==3.4.0
psycopg==3.1.19; platform_system=="Darwin"
psycopg-binary==3.1.19; platform_system=="Darwin"
psycopg==3.2.1; platform_system=="Linux"
psycopg-binary==3.2.1; platform_system=="Linux"
psutil==6.0.0
pypsutil==0.2.0
semantic_version==2.10.0
six==1.16.0
termcolor==2.4.0
typing_extensions==4.12.2
click==8.1.7
tabulate==0.9.0
python-crontab==3.2.0
certifi==2024.7.4
charset_normalizer==3.3.2
gpustat==1.1.1

## ACE Advanced #####
tqdm==4.66.4
ordered-set==4.1.0
mpire[dashboard]==2.10.2
rich==13.7.1
pandas==2.2.2
apscheduler==3.10.4
bidict==0.23.1

## pgEdge-Patroni ###
cdiff==1.0
urllib3==2.2.2
PyYAML==6.0.1
python-etcd==0.4.5
prettytable==3.10.2
python-dateutil==2.9.0
cryptography==43.0.1
ydiff==1.3
