requests>=2.27
paramiko>=3.3.1
psycopg>=3.1.17
psycopg-binary>=3.1.17
psutil>=5.9.6
pypsutil>=0.2.0
semantic_version
six
termcolor
typing_extensions
click

## MULTICLOUD #######
certifi>=3.0
charset_normalizer>=2.0
ansible>=8.7


## ACE ##############
tqdm>=4.64
ordered-set>=4.0
mpire>=2.8.0
pandas>=1.1.5

## STAZ #############
cdiff>=1.0
urllib3>=1.25.4,!=1.26.18
PyYAML>=6.0
python-etcd>=0.4.5,<0.5
click>=4.1
prettytable>=2.5
python-dateutil>=2.8.2
cryptography>=40.0.2
ydiff>=1.2

