[run]
source = hub/scripts
omit = 
    */tests/*
    */__init__.py
    */ace-tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass 