[Unit]
Description=PgCat pooler
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=USR
Restart=always
RestartSec=1
Environment=RUST_LOG=info
LimitNOFILE=65536
ExecStart=/usr/local/bin/pgcat  /etc/pgcat/conf/pgcat.toml

[Install]
WantedBy=multi-user.target
