[Unit]
Description=Connection Pooling & Routing
After=network.target

[Service]
Type=simple
User=USR 
ExecStart=/usr/local/bin/pgcat  /etc/pgcat/conf/pgcat.toml
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
