[Unit]
Description=Coonnection Pooling & Routing
After=network.target

[Service]
Type=simple
User=USER 
ExecStart=/usr/local/bin/pgcat  -d /etc/pgcat/conf/pgcat.toml
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
